flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-wtf
flask-limiter
pycryptodome
cryptography
argon2-cffi
requests
scikit-learn
pandas
numpy
joblib
bleach
python-nmap
python-dotenv
PyJWT
email-validator
qrcode
gunicorn
reportlab
